*{
    box-sizing: border-box;
}
body{
    /* background: linear-gradient(90deg, #05386B, #379683, #5CDB95, #8EE4AF,#EDF5E1);
    background-size: 1200% 1200%;
    animation: Gradient 15s ease infinite; */
    color: #05386B;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 12pt;

}
/* @keyframes Gradient {
    0%
    {
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
} */

/* COlORS
#05386B -bLUE shADE
#379683 - BLUE Green Shade
#5CDB95 - Green Shade
#8EE4AF - Light Green Shade
#EDF5E1 - Green yellow Shade

*/


/* header  */
header{
    max-height: fit-content;
    background-color: #05386B;
    box-shadow: #666 0px 2px 12px -3px;
}
.desktop-header{
    display: grid;
    grid-template-columns: auto auto auto;
    margin: auto;
}
.desktop-header-logo{
    margin: auto;
    align-items: center;
    justify-content: center;
}
.desktop-header-navbar{
    margin: auto;
    align-items: center;
    justify-content: center;
}
.desktop-header-navbar-ul{
    list-style: none;
    margin: auto;
    padding: 0px;
}
.desktop-header-navbar-ul li{
    display: flex;
    float: left;
    margin: auto;
    padding: 30px;
}
.desktop-header-navbar-ul a{
    color: white;
    text-decoration: none;
    cursor: pointer;
}
.desktop-header-navbar-ul a:hover{
    text-decoration: underline;
    color: white;
}
.desktop-header-signup{
    margin: auto;
    align-items: center;
    justify-content: center;
}
.desktop-header-signup a{
    color: white;
    text-decoration: none;
    cursor: pointer;
}
.desktop-header-signup a:hover{
    text-decoration: underline;
    color: white;
}

.mobile-header{
    display: none;
}

@media only screen and (max-width: 900px){
    .desktop-header{
        display: none;
    }
    .mobile-header{
        display: grid;
        grid-template-columns: auto auto auto;
    }
    .mobile-header-navbar{
        margin: auto;
        justify-content: center;
        align-items: center;
    }
    
    /* Navicon Mobile */
    #nav-icon1 {
        width: 30px;
        height: 15px;
        position: relative;
        margin: auto;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        cursor: pointer;
        }

        #nav-icon1 span {
        display: block;
        position: absolute;
        height: 3px;
        width: 100%;
        background: #ffffff;
        border-radius: 29px;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out;
        }

        #nav-icon1 span:nth-child(1) {
        top: 0px;
        }

        #nav-icon1 span:nth-child(2) {
        top: 10px;
        }

        #nav-icon1 span:nth-child(3) {
        top: 20px;
        }

        #nav-icon1.open span:nth-child(1) {
        top: 10px;
        -webkit-transform: rotate(135deg);
        -moz-transform: rotate(135deg);
        -o-transform: rotate(135deg);
        transform: rotate(135deg);
        }

        #nav-icon1.open span:nth-child(2) {
        opacity: 0;
        left: -60px;
        }

        #nav-icon1.open span:nth-child(3) {
        top: 10px;
        -webkit-transform: rotate(-135deg);
        -moz-transform: rotate(-135deg);
        -o-transform: rotate(-135deg);
        transform: rotate(-135deg);
        }
    .mobile-header-navbar-overlay {
        height: 0%;
        width: 100%;
        position: fixed;
        z-index: 1;
        top: 50px;
        left: 0;
        background-color: rgb(0, 0, 0);
        background-color: rgba(0, 0, 0, 0.9);
        overflow-y: hidden;
        transition: 0.5s;
        overflow: scroll;
        scroll-behavior: smooth;
        scrollbar-color: black;
      }
      
      .mobile-header-navbar-overlay-content {
        position: relative;
        top: 10%;
        width: 100%;
        right: 15px;
        text-align: center;
        margin-top: 30px;
      }
      
      .mobile-header-navbar-overlay-content a {
        padding: 8px;
        text-decoration: none;
        font-size: 26px;
        color: #fafafa;
        display: block;
        transition: 0.3s;
      }
      .mobile-header-navbar-overlay-content a:hover{
        text-decoration: underline;
      }
      .mobile-header-navbar-overlay-content li{
         list-style: none;
      }
      .closebtn a:hover{
        color: white;
    }
      .mobile-header-navbar-overlay a:hover, .mobile-header-navbar-overlay a:focus {
        color: rgb(57, 159, 255);
        text-decoration: none;
      }
      
      .mobile-header-navbar-overlay .closebtn {
        position: absolute;
        top: 5px;
        right: 35px;
        font-size: 40px;
        color: white;
        text-decoration: none;
      }
 
    
      .hr-rounded{
        height:2px;
        border-width:0;
        color:white;
        background-color:white;
        width: 75%;
      }

      .hr-rounded-collapsible{
        height:2px;
        border-width:0;
        color:white;
        background-color:white;
        width: 55%;
        margin-left: 15%;
      }

      .navbar-study-material-ul a{
        font-size: 12pt;
        margin-left: -50pt;
      }

      .navbar-more-ul a{
          font-size: 12pt;
          margin-left: -60px;
      }
      
      .mobile-header-logo{
          margin: auto;
          align-items: center;
          justify-content: center;
      }
      .mobile-header-signup{
          margin: auto;
          justify-content: center;
          align-items: center;
      }
      .mobile-header-signup a{
          color: white;
          text-decoration: none;
          cursor: pointer;
      }
      .mobile-header-signup a:hover{
          text-decoration: underline;
          color: white;
      }

    
}
      
@media screen and (max-height: 600px) {
    .mobile-header-navbar-overlay {overflow-y: auto;}
    .mobile-header-navbar-overlay a {font-size: 20px}
    .mobile-header-navbar-overlay .closebtn {
    font-size: 20px;
    top: 15px;
    right: 35px;
    }
  }
/* Mobile */

/* header End */

/* Advertising Section */

.advertising-section{
    width: 100%;
    height: 90%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.advertising-section-background{
    width: 100%;
}
.advertising-section-signup-box{
    height: 500px;
    width: 400px;
    margin: auto;
    display: block;
    float: left;
    position: absolute;
    right: 10%;
    top: 15%;
    background-color: white;
    box-shadow: #666 0px 2px 12px -6px;
    border-radius: 7px;
    color: black;
    font-family: 'Open Sans', sans-serif;
}
.sign-up-box-header{
    text-align: center;
    font-size: 2rem;
    margin-top: 15px;
}
.signup-box-user-inputs{
    margin-top: 15%;    
}
.signup-box-user-inputs label{
    font-weight: 100;
    color: #666; 
    margin-left: 2%;   
}
.signup-box-user-inputs input{
    margin-left: 2%;
    height: 40px;
    width: 95%;
}
.signup-box-user-inputs input:focus{
    box-shadow: red 0px 2px 12px -6px;
    outline: red;
    border: 2px solid red;
    border-radius: 4px;
}

.signup-box-user-submit{
    margin: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
}
.signup-box-user-signup-button{
    width: 50%;
    height: 40px;
    color: white;
    background-color: red;
    border-radius: 12px;
    border: none;
   outline: none;
    cursor: pointer;
}
.signup-box-user-signup-button:hover{
    box-shadow: red 0px 2px 12px -6px;
    opacity: 0.8;
}



.wave{
    position: relative;
    top: -30%;
}


/* Advertising Section End */