*{
    box-sizing: border-box;
}
/* COlORS
#1A2980 -bLUE shADE
#379683 - BLUE Green Shade
#5CDB95 - Green Shade
#8EE4AF - Light Green Shade
#EDF5E1 - Green yellow Shade

*/
body{
    color: white;
    margin: 0;
    font-family: 'Manrope', sans-serif;
    font-size: 12pt;
    background: #1A2980;  /* fallback for old browsers */
    background: -webkit-linear-gradient(-50deg, #26D0CE, #1A2980);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(-50deg, #26D0CE, #1A2980);
}


/* header  */
header{
    max-height: fit-content;
    background: #1A2980;  /* fallback for old browsers */
    background: -webkit-linear-gradient(-50deg, #26D0CE, #1A2980);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(-50deg, #26D0CE, #1A2980);
    box-shadow: #666 0px 2px 12px -3px;
    top: 0px;
    left: 0px;
    overflow: visible;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99999;
}
.desktop-header{
    display: grid;
    grid-template-columns: auto auto auto;
    margin: auto;
    
}
.desktop-header-logo{
    margin: auto;
    align-items: center;
    justify-content: center;
}
.desktop-header-navbar{
    margin: auto;
    align-items: center;
    justify-content: center;
}
.desktop-header-navbar-ul{
    list-style: none;
    margin: auto;
    padding: 0px;
}
.desktop-header-navbar-ul li{
    display: flex;
    float: left;
    margin: auto;
    padding: 30px;
}
.desktop-header-navbar-ul a{
    color: white;
    text-decoration: none;
    cursor: pointer;
}
.desktop-header-navbar-ul a:hover{
    text-decoration: underline;
    color: white;
}
.desktop-navbar-dropdown{
    position: relative;
    display: inline-block;
}
.desktop-navbar-dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 8px 10px;
    z-index: 1;
    color: black;
    border-radius: 7px;
  }

  .desktop-navbar-dropdown-content a{
      color: black;
      padding: 5px;
  }
  .desktop-navbar-dropdown-content a:hover{
    color: black;
    text-decoration: underline;
}
  .desktop-navbar-dropdown:hover .desktop-navbar-dropdown-content{
      display: block;
  }


.desktop-header-signup{
    margin: auto;
    align-items: center;
    justify-content: center;
}
.desktop-header-signup a{
    color: white;
    text-decoration: none;
    cursor: pointer;
}
.desktop-header-signup a:hover{
    text-decoration: underline;
    color: white;
}

/* Footer */
.footer{
  background: #1A2980;  /* fallback for old browsers */
background: -webkit-linear-gradient(-50deg, #26D0CE, #1A2980);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(-50deg, #26D0CE, #1A2980);
  padding:30px 0px;
  font-family: 'Play', sans-serif;
  text-align:center;
  }
  
  .footer .row{
  width:100%;
  margin:1% 0%;
  padding:0.6% 0%;
  color:rgb(255, 255, 255);
  font-size:1em;
  }
  
  .footer .row a{
  text-decoration:none;
  color:rgb(255, 255, 255);
  transition:0.5s;
  }
  
  .footer .row a:hover{
  color:#fff;
  }
  
  .footer .row ul{
  width:100%;
  }
  
  .footer .row ul li{
  display:inline-block;
  margin:0px 30px;
  }
  
  .footer .row a i{
  font-size:2em;
  margin:0% 1%;
  }
  
  @media (max-width:720px){
  .footer{
  text-align:left;
  padding:5%;
  }
  .footer .row ul li{
  display:block;
  margin:10px 0px;
  text-align:left;
  }
  .footer .row a i{
  margin:0% 3%;
  }
  }

/* Fotter End */


/* Signin Modal */

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 450px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    border-radius: 8px;
    overflow: hidden;
  }
  
  /* Add Animation */
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
  
  /* The Close Button */
  .close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal-header {
    padding: 2px;
    background-color: #5CDB95;
    color: white;
  }
  
  .modal-body {padding: 2px 16px;}
  
  .modal-footer {
    padding: 2%;
    background-color: #5CDB95;
    color: white;
    text-align: center;
  }

  .signin-modal-user-inputs{
      padding: 2%;
  }
  .signin-modal-user-inputs label{
    font-weight: 100;
    color: #666;  
    font-size: 10pt; 
  }
  .signin-modal-user-inputs input{
    height: 40px;
    width: 95%;
    margin-bottom: 10px;
  }
  .signin-modal-user-inputs input:focus{
    box-shadow: #5CDB95 0px 2px 12px -6px;
    outline:  #5CDB95;
    border: 2px solid  #5CDB95;
    border-radius: 4px;
  }
.modal-footer p{
    margin: 0px;
    text-align: center;
}
.modal-footer a{
    color: white;
    text-decoration: none;
    cursor: pointer;
}
.modal-footer a:hover{
    color: white;
    text-decoration: underline;
}
  .signin-modal-user-submit button{
    width: 40%;
    height: 40px;
    color: black;
    background-color:#ffffff;
    border-radius: 7px;
    border: none;
    outline: none;
    cursor: pointer;
    position: relative;
    left: -30%;
  }

  .signin-modal-user-submit button:hover{
    box-shadow: #666 0px 4px 8px -3px;
    opacity: 0.95;
  }
.mobile-header{
    display: none;
}

@media only screen and (max-width: 900px){
    .desktop-header{
        display: none;
    }
    .mobile-header{
        display: grid;
        grid-template-columns: auto auto auto;
    }
    .mobile-header-navbar{
        margin: auto;
        justify-content: center;
        align-items: center;
        margin-top: 12px;
    }
    
    /* Navicon Mobile */
    #nav-icon1 {
        width: 30px;
        height: 15px;
        position: relative;
        margin: auto;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        cursor: pointer;
        }

        #nav-icon1 span {
        display: block;
        position: absolute;
        height: 3px;
        width: 100%;
        background: #ffffff;
        border-radius: 29px;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out;
        }

        #nav-icon1 span:nth-child(1) {
        top: 0px;
        }

        #nav-icon1 span:nth-child(2) {
        top: 10px;
        }

        #nav-icon1 span:nth-child(3) {
        top: 20px;
        }

        #nav-icon1.open span:nth-child(1) {
        top: 10px;
        -webkit-transform: rotate(135deg);
        -moz-transform: rotate(135deg);
        -o-transform: rotate(135deg);
        transform: rotate(135deg);
        }

        #nav-icon1.open span:nth-child(2) {
        opacity: 0;
        left: -60px;
        }

        #nav-icon1.open span:nth-child(3) {
        top: 10px;
        -webkit-transform: rotate(-135deg);
        -moz-transform: rotate(-135deg);
        -o-transform: rotate(-135deg);
        transform: rotate(-135deg);
        }
    .mobile-header-navbar-overlay {
        height: 0%;
        width: 100%;
        position: fixed;
        z-index: 1;
        top: 50px;
        left: 0;
        background-color: rgb(0, 0, 0);
        background-color: rgba(0, 0, 0, 0.9);
        overflow-y: hidden;
        transition: 0.5s;
        overflow: scroll;
        scroll-behavior: smooth;
        scrollbar-color: black;
      }
      
      .mobile-header-navbar-overlay-content {
        position: relative;
        top: 10%;
        width: 100%;
        right: 15px;
        text-align: center;
        margin-top: 30px;
      }
      
      .mobile-header-navbar-overlay-content a {
        padding: 8px;
        text-decoration: none;
        font-size: 26px;
        color: #fafafa;
        display: block;
        transition: 0.3s;
      }
      .mobile-header-navbar-overlay-content a:hover{
        text-decoration: underline;
      }
      .mobile-header-navbar-overlay-content li{
         list-style: none;
      }
      .closebtn a:hover{
        color: white;
    }
      .mobile-header-navbar-overlay a:hover, .mobile-header-navbar-overlay a:focus {
        color: rgb(57, 159, 255);
        text-decoration: none;
      }
      
      .mobile-header-navbar-overlay .closebtn {
        position: absolute;
        top: 5px;
        right: 35px;
        font-size: 40px;
        color: white;
        text-decoration: none;
      }
 
    
      .hr-rounded{
        height:2px;
        border-width:0;
        color:white;
        background-color:white;
        width: 75%;
      }

      .hr-rounded-collapsible{
        height:2px;
        border-width:0;
        color:white;
        background-color:white;
        width: 55%;
        margin-left: 15%;
      }

      .navbar-study-material-ul a{
        font-size: 12pt;
        margin-left: -50pt;
      }

      .navbar-more-ul a{
          font-size: 12pt;
          margin-left: -60px;
      }
      
      .mobile-header-logo{
          margin: auto;
          align-items: center;
          justify-content: center;
      }
      .mobile-header-signup{
          margin: auto;
          justify-content: center;
          align-items: center;
      }
      .mobile-header-signup a{
          color: white;
          text-decoration: none;
          cursor: pointer;
      }
      .mobile-header-signup a:hover{
          text-decoration: underline;
          color: white;
      }

    
}
      
@media screen and (max-height: 600px) {
    .mobile-header-navbar-overlay {overflow-y: auto;}
    .mobile-header-navbar-overlay a {font-size: 20px}
    .mobile-header-navbar-overlay .closebtn {
    font-size: 20px;
    top: 15px;
    right: 35px;
    }
  }
/* Mobile */

/* header End */

/* Advertising Section */

.advertising-section{
    width: 100%;
    height: 90%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: visible;
    margin-top: 5%;
    
}
.advertising-section-background{
    width: 100%;
}
.advertising-section-signup-box{
    height: 500px;
    width: 400px;
    margin: auto;
    display: block;
    float: left;
    margin-left: 65%;
    margin-top: 40px;
    background-color: white;
    box-shadow: #666 0px 2px 12px -6px;
    border-radius: 7px;
    color: black;
    font-family: 'Open Sans', sans-serif;
    overflow: visible;
}
.sign-up-box-header{
    text-align: center;
    font-size: 2rem;
    margin-top: 15px;
}
.signup-box-user-inputs{
    margin-top: 15%;    
}
.signup-box-user-inputs label{
    font-weight: 100;
    color: #666; 
    margin-left: 2%; 
    font-size: 10pt;  
}
.signup-box-user-inputs input{
    margin-left: 2%;
    height: 40px;
    width: 95%;
}
.signup-box-user-inputs input:focus{
    box-shadow: rgb(255, 230, 0) 0px 2px 12px -6px;
    outline: rgb(255, 230, 0);
    border: 2px solid rgb(255, 230, 0);
    border-radius: 4px;
}

.signup-box-user-submit{
    margin: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
}
.signup-box-user-signup-button{
    width: 50%;
    height: 40px;
    color: white;
    background-color:#1A2980;
    border-radius: 12px;
    border: none;
    outline: none;
    cursor: pointer;
}
.signup-box-user-signup-button:hover{
    box-shadow: #0080ff 0px 4px 8px -3px;
    opacity: 0.95;
}


@media only screen and (max-width: 900px){
    .advertising-section-signup-box{
        display: none;
    }
}



/* Advertising Section End */



/* class enrollment section */

.class-enrollment-section{
    margin-top: -15%;
}
.class-enrollment-section svg{
    width: 100%;
    margin-top: -1%;
}
.class-enrollment-boxes-background{
  background: #1A2980;  /* fallback for old browsers */
background: -webkit-linear-gradient(-50deg, #26D0CE, #1A2980);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(-50deg, #26D0CE, #1A2980); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}
.class-enrollment-boxes{
  margin-left: 15%;
  margin-right: 15%;
  padding-bottom: 25%;
}
.class-enrollment-title{
  text-align: center;
}
.class-enrollment-title p{
  color: white;
  font-family: 'Manrope', sans-serif;
  font-size: 40px;
  font-weight: bold;
  background-color: #ffec42;
  background-image: linear-gradient(75deg, #fffac8, #FFE600);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.class-enrollment-classes{
  display: grid;
  grid-template-columns: auto auto;
  margin: auto;
  padding: 2%;
  margin-top: 2%;
  margin-bottom: 2%;


}
.class-enrollment-class{
    padding: 2%;
    padding-top: 15%;
    margin: auto; 
    margin-top: 3%;
    margin-bottom: 3%;
    height: 430px;
    width: 90%;
    background-color: white;
    border-radius: 7px;
    color: #000;
    box-shadow: #666 0px 2px 12px -6px;
    text-align: center;
}
.class-enrollment-class-image img{
  border-radius: 10px;
}
.class-enrollment-class-title p{
  color: black;
  font-family: 'Manrope', sans-serif;
  font-size: 30px;
  font-weight: bold;
  
  background: #4776E6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #8E54E9, #4776E6);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #8E54E9, #4776E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}
.class-enrollment-class-name p{
  color: black;
  font-family: 'Manrope', sans-serif;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 15px;
}
.class-enrollment-class-explore-link a{
  font-family: 'Manrope', sans-serif;
  font-size: 16px;
  padding-top: 15px ;
}

/* Register Class */

.register-class-section{
  background-color: #fff597;
  width: 100%;
  height: 60%;
}
.register-class-div{
  margin-left: 12%;
  margin-right: 12%;
  margin: 0px;
  padding: 0px;
  background: #02AAB0;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #00CDAC, #02AAB0);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #00CDAC, #02AAB0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.register-class-box{
  position: relative;
  top: -200px;
  background-color: #ffffff;
  height: 500px;
  width: 80%;
  margin: auto;
  border-radius: 14px;
  display: grid;
  grid-template-columns: 60% 40%;
  z-index: 1;
}
.register-class-box-title p{
  color: black;
  font-family: 'Manrope', sans-serif;
  font-size: 50px;
  font-weight: bold;
  padding-top: 5%;
  padding-left:5% ;
  background: #4776E6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #8E54E9, #4776E6);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #8E54E9, #4776E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}
.register-class-box-info p{
  color: black;
  font-family: 'Manrope', sans-serif;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 15px;
  padding-left: 5%;
  padding-top: 5%;
}
.register-class-box-enroll{
  padding: 5%;
  padding-top: 7%;

}
.register-class-box-enroll button{
  width: 300px;
  height: 45px;
  border-radius: 7px;
  outline: none;
  border: none;
  background: #4776E6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #8E54E9, #4776E6);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #8E54E9, #4776E6);
  color: white;
  font-family: 'Manrope', sans-serif;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}
.register-class-box-enroll button:hover{
  font-size: 21px;

}
.register-class-right-side{
 margin: auto; 
 padding: 5%;
}
.register-class-right-side img{
  border-radius: 10px;
 }


 /* Video Page */
 button {
  border: none;
  background: none;
  font-family: "Lato", sans-serif;
  color: #2c3e50;
}

.video-and-suggestions{
  margin: 2%;
  margin-top: 100px;
  margin-left: 5%;
  margin-right: 5%;
}

.video-and-suggestion-box{
  display: grid;
  grid-template-columns: 70% 30%;
}

.video-box video{
  border-radius: 5px;
}

.video-suggestions{
  border: 1px solid white;
  width: 100%;
  padding: 5px;
  height: 500px;
  overflow: scroll;
  scroll-behavior: smooth;
  background-color: white;
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3);
}
.video-suggestions::-webkit-scrollbar {
  display: none;
}
.suggested-video{
  /* border: 1px solid white; */
  height: 120px;
  margin-bottom: 9px;
  margin-top: 5px;
  display: flex;
  grid-template-columns: 80% 80%;
  padding-top: 3%;
  
}
.suggested-video img{
  height: 90%;
  width: 70%;
  cursor: pointer;
}
.suggested-video-title p{
  font-size: 23px;
  margin-left: -60px;
}
.display-video-title{
  color: white;
  font-size: 20px;
}
.display-video-views{
  color: rgb(201, 201, 201);
}

.display-video-comments p{
  color: white;
  font-size: 25px;
}



/* COmment section */

.comment_list > li {
  margin-bottom: 4rem;
}

.comments_section {
  width: 140rem;
  margin: 2rem 2rem;
  background-color: white;
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  padding: 4rem;
  transform-origin: top left;
  transform: scale(0.7);
}

.no_comment_found {
  font-size: 1.5rem;
  text-align: center;
}

.comment_card {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  border-radius: 5px;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.06);
  margin-bottom: 2rem;
}

.figure {
  display: flex;
  justify-content: start;
  padding-bottom: 2rem;
  border-bottom: 1px solid var(--color-grey-light-2);
}

.image {
  width: 10rem;
  height: auto;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 1rem;
}

.fig_caption {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 0.5rem 0;
}

.name {
  font-size: 2.8rem;
  margin-bottom: 0.5rem;
}

.occupation {
  font-size: 1.8rem;
  margin-bottom: auto;
}

.date {
  font-size: 1.8rem;
  font-weight: 400;
}

.comment_text {
  margin-left: 11rem;
  padding: 2rem 0;
  font-size: 2rem;
  font-weight: 400;
  border-bottom: 1px solid var(--color-grey-light-2);
}

.comment_options {
  margin-left: 11rem;
  padding: 1rem 0;
  display: flex;
}

.comment_options button {
  display: block;
  padding: 1rem;
  font-size: 1.9rem;
  color: #3498db;
  cursor: pointer;
}

.comment_options button:not(:last-child) {
  margin-right: 1rem;
}

.comment_options button:last-child {
  margin-left: auto;
}

.comment_options button:hover {
  background: #3498db1f;
}

.comment_edit {
  margin-left: 11rem;
}

.comment_edit_message {
  font-size: 1.3rem;
  padding: 0.3rem 0;
}

textarea {
  font-family: "Lato", sans-serif;
  border: 1px solid  #2c3e50;
  width: 100%;
  color:  #2c3e50;
  font-size: 2.5rem;
  padding: 1.5rem;
}

.comment_edit_options {
  display: flex;
  padding: 1.4rem 0;
  padding-bottom: 2rem;
}

.comment_edit_textarea {
  padding-top: 2rem;
}

.comment_edit button {
  display: block;
  padding: 1rem;
  font-size: 1.9rem;
  color: #3498db;
  cursor: pointer;
}

.comment_edit button:not(:last-child) {
  margin-right: 1rem;
}

.comment_edit button:hover {
  background:  #3498db1f;
}